@import "tailwindcss";

@theme {
  /* dark */
  --color-primary-dark: #0a0605;
  --color-secondary-dark: #321f1a;
  --color-textPrimary: #fffdf6;

  /* shadow */
  --shadow-header: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-orange-500 via-red-500 to-pink-500 text-transparent bg-clip-text;
  }
  .icon-gradient {
    @apply bg-gradient-to-br from-orange-500 via-red-500 to-pink-500;
  }
  .features-gradient {
    @apply bg-gradient-to-br from-[#211411] via-[#341f1b] to-[#4a2d26];
  }
}
.con {
  @apply max-w-[1280px] mx-auto;
}
body {
  font-family: sans-serif;
}
